<div class="container">
    <div class="d-flex justify-content-end">
        <button class="btn btn-outline-secondary" [routerLink]="['/main']">Back to Portfolio</button>
    </div>
    <form [formGroup]="form" (ngSubmit)="addCoin()">
        <div class="form-group">
            <label for="name">Cryptocurrency</label>
            <select class="form-control"  name="name" id="name" formControlName="currency">
              <option *ngFor="let c of cryptos" value="{{c.symbol}}">{{c.name}} ({{c.symbol}})</option>
            </select>
        </div>
        <div class="form-group">
            <label>Date Added</label>
            <input type="date" class="form-control" formControlName="date" max="{{ today | date:'YYYY-MM-dd' }}">
        </div>
        <div class="form-group">
            <label>Number of Units bought</label>
            <input type="number" class="form-control" formControlName="units">
        </div>
        <div class="form-group">
            <label>Purchase Price in USD$</label>
            <input type="number" class="form-control" formControlName="boughtPrice">
        </div>
        <div class="form-group">
            <label>Target Profit Percentage</label>
            <input type="number" min=0 class="form-control" formControlName="targetProfit">
        </div>

        <div class="form-group">
            <label for="notify">Notify via Email</label>
            <select class="form-control" name="notify" id="notify" formControlName="notify">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
        </div>

        <div class="btn-group d-flex justify-content-between">
            <button type="submit" class="btn btn-primary" [hidden]="editMode" [disabled]="form.invalid">Add Coin to Portfolio</button>
            <button type="button" class="btn btn-primary" [hidden]="!editMode" [disabled]="form.invalid" (click)="editEntry()">Edit entry</button>
            <button type="button" class="btn btn-danger" [hidden]="!editMode" (click)="deleteEntry()">Delete entry</button>
        </div>
    </form>

</div>
