
 .login{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255, 0.9 );
    width: 50%;
    margin: 3em;
    padding: 3em;
 }

 .about{
    position: relative;
   padding: 2em;
   color: white;
}

.bg-transparent {
   background-color: transparent;
 }
 
 :host {
   height: 100%;
 }
 
 .photo {
   object-fit: contain;   
 }
 
 .card {
   width: 20rem;
   margin: 0 auto;
 }